:root {
  --color-black-1: #f5f5f5;
  --color-black-2: #e0e0e0;
  --color-black-3: #cccccc;
  --color-black-4: #b8b8b8;
  --color-black-5: #a3a3a3;
  --color-black-6: #8f8f8f;
  --color-black-7: #7a7a7a;
  --color-black-8: #666666;
  --color-black-9: #525252;
  --color-black-10: #3d3d3d;
  --color-black-11: #292929;
  --color-black-12: #141414;

  --color-primary-1: #ffa1b7;
  --color-primary-2: #ff87a4;
  --color-primary-3: #fd7596;
  --color-primary-4: #f06385;
  --color-primary-5: #e85679;
  --color-primary-6: #e14f72;
  --color-primary-7: #d74669;
  --color-primary-8: #ce3b5e;

  --color-red: #d73939;
}
