.header {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  &__logo {
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--color-primary-6);
  }
}

.button {
  height: 3.7rem;
  width: 12rem;
  border-radius: 6px;
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  cursor: pointer;
  color: var(--color-primary-6);

  &:disabled {
    cursor: not-allowed;
  }

  &--ghost {
    background: none;
    border: 2px solid var(--color-primary-6);
  }
}
